<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Point of Sale</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="<%= url("css/styles.css")%>">
  </head>
  <body>
    <h1 class='cent'>Point of Sale</h1>
    <div class="container row">
      <%= yield %>
    </div>
  </body>
</html>
