<h2>This Purchase <%= %> has these Products:</h2>
<% if @products.length != 0 %>
<ul>
  <% @products.each() do |product| %>
  <li> <%= product.name %>, paid: $<%= product.price %> </li>
  <% end %>
</ul>
<% else %>
  <h3>This purchase did not have any items!</h3>
<% end %>

<a href="/">Back to Main</a>
