.cent {
  text-align: center;
  font-family: monospace;
}

.arrow {
  list-style-type: lower-alpha;
}

/*SeLeCt * fRoM purchases WhErE created_at >= '2016-07-19 08:59:59' AnD updated_at <= '2016-07-19 12:00:00';*/
